.grid-container { 
    display: grid;
    background-color: #555;
    color: white;
    border-color: black;
    border-bottom-style: inset;
    border-width: 1px;
}

.one { 
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 2;
    grid-row: 1;  

}

.three { 
    grid-column: 3;
    grid-row: 1;
}

.four {
    grid-column: 1; 
    grid-row: 2; 
}

.five { 
    grid-column: 2; 
    grid-row: 2; 
}

.six { 
    grid-column: 3; 
    grid-row: 2; 
}

