.grid-container { 
    display: grid;
    /* background-color: #555; */
    color: white;
    width: 90%;
    /* margin: 25px; */

}

.one { 

    grid-column: 1 / span 2;
    grid-row: 1;
    border: 5px solid black;
    border-color: black;
    height: 75px;
    border-radius: 90px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    width: 450px;
    background-color: yellow
     
}

.two {
    grid-column: 2;
    grid-row: 1;
    border: 5px solid black;
    border-color: black; 
    height: 75px;
    border-radius: 90px;
    margin-top: 25px; 
    width: 200px; 
    height: 75px;
    margin-left: 500px; 

}

.three { 
    grid-column: 3;
    grid-row: 1;
    border: 5px solid black;
    border-color: black;
    height: 75px;
    border-radius: 90px;
    margin: 25px;
    width: 300px;
    margin-right: 50px;
    background-color: red
}

.four {
    grid-column: 1 / span 2; 
    grid-row: 2; 
    border: 5px solid black;
    border-color: black;
    height: 75px;
    border-radius: 90px;
    margin-top: 25px;
    width: 300px;
    /* margin-right: 25px;  */
    margin-left: 25px;
    background-color: #555;
    
}

.five { 
    grid-column: 2 / span 3; 
    grid-row: 2;
    border: 5px solid black;
    border-color: black; 
    height: 75px;
    border-radius: 90px;
    margin-top: 25px;
    width: 200px; 
    margin-left: 350px;
}

.six { 
    grid-column: 3; 
    grid-row: 2;
    border: 5px solid black;
    border-color: black; 
    height: 23px;
    border-radius: 90px;
    margin-top: 25px;
    width: 450px; 
    margin-right: 25px;
    margin-left: -125px;
    background-color: black;
    color: white;
    text-align: center; 
    padding-top: 52px;
    font-size: 15px;
    
}

